flet
matplotlib
logging
streamlit
pytest
opencv-python
mediapipe
numpy
pytest-mock
pytest-asyncio
fpdf2
albumentations
flet
opencv-python
mediapipe
numpy
scikit-learn
fpdf2




Requests
scipy
seaborn
setuptools
streamlit
flet
opencv-python
mediapipe
numpy
scikit-learn
fpdf2
plotly