flet

logging
streamlit
pytest
opencv-python
mediapipe
numpy
pytest-mock
pytest-asyncio
fpdf2
albumentations
comet_ml
coremltools

GitPython
GitPython
ipython
matplotlib
mediapipe
mss
nncf
numpy
onnx
onnxruntime
onnxsim
opencv_contrib_python
opencv_python
openvino

pafy
pandas
Pillow
plotly
psutil
pycocotools
PyYAML

Requests
scipy
seaborn
setuptools
streamlit
tensorflow
tensorflowjs
tensorrt


thop
torch
torchvision
tqdm
tritonclient
ultralytics
