flet

logging
streamlit
pytest
opencv-python
mediapipe
numpy
pytest-mock
pytest-asyncio
fpdf2
albumentations

mediapipe

opencv_contrib_python
opencv_python
openvino



Requests
scipy
seaborn
setuptools
streamlit
flet
opencv-python
mediapipe
numpy
scikit-learn
fpdf2
plotly